
.auth-main {
    background: linear-gradient(45deg, #f4c5d7 0 30%, #e6d0d8 50% 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.container-auth{
    background-color:  #d999b1;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    padding: 2rem;
    border-radius: 30px 0px 30px 0px ;
    box-shadow: 10px 5px 5px #806771;
    gap: 10px;
}

.link-auth{
    align-self: center;
    color: azure;
}

.link-auth:hover{
    color: #69052d;
}

.button-auth {
  background-color: #D884A7 !important;
  color: white !important;
}

.button-auth.MuiButton-root:hover {
    background-color: #c46e8e !important;
    color: white !important;
    transform: scale(1.03);
    box-shadow: 1px 1px 3px #806771 !important;
}

@media (max-width: 900px) {
    .container-auth{
        gap:5px;
    }
}

