.organizerWrapper {
  background: #f7e9ef;
  min-width: 100vw;
  height: 100vh;
}

.btnContainerOrganizer {
  display: flex;
  align-items: flex-start;
  width: 30%;
}

.buttonAddConferenceOrganizer {
  background: #923e57 !important;
  color: white !important;
  height: 50px;
  border-radius: 8px !important;
  padding: 0 20px !important;
  margin: 0;
}

.buttonTable {
  background: #b14c6c !important;
  color: white !important;
  border-radius: 6px !important;
  padding: 4px 14px !important;
}

.organizerContent {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
}

.organizerTableCard {
  border-radius: 15px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.organizerTable {
  width: 100%;
  border-collapse: collapse;
}

.organizerTable th,
.organizerTable td {
  padding: 12px 14px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.tableLink {
  color: #b14c6c;
  font-weight: 600;
}