
.homeWrapper {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(45deg, #f4c5d7 0 30%, #e6d0d8 50% 100%);;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:2rem;
  width: 100%;
  max-width: 1100px;
  border-radius: 1rem;  
}

.homeCard {
  flex: 1;
  background: white;
  border-radius: 25px;
  width: fit-content;
  padding: 24px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  height: -webkit-fill-available;
}

.homeTitle {
  color: #C76C8F;
  font-weight: bold !important;
  margin-bottom: 2rem !important;

}

.homeText {
  color: #444;
  width: 35rem;
  margin-bottom: 2rem !important;
  line-height: 1.5;
}

.homeButtons {
  display: flex;
  gap: 1rem;
}

.btnLogin {
  background-color: #D884A7 !important;
  color: white !important;
}

.btnRegister {
  background-color: #b6718d !important;
  color: white !important;
}

.homeImage {
  flex: 1;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}


@media (max-width: 900px) {
  .homeContainer {
    flex-direction: column;
    text-align: center;
    margin: 1rem;
  }
  .homeText{
    width: 20rem;
  }

  .homeCard{
    width:  -webkit-fill-available;
  }

  .homeButtons {
    justify-content: center;
  }
}
