.addPaperWrapper {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(45deg, #f4c5d7 0%, #e6d0d8 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPaperCard {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.addPaperTitle {
  margin-bottom: 1.5rem;
  color: #c76c8f;
}

.label {
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  display: block;
  color: #444;
  font-size: 0.95rem;
}

.fileInput {
  margin: 8px 0 20px 0;
}

.btnSubmit {
  background-color: #d884a7 !important;
  color: white !important;
  width: 100%;
  margin-top: 1rem;
}
.fileInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 8px 0 20px 0;
}

.filePreview {
  padding: 10px 14px;
  background: #f6d7e4;
  color: #a1446f;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  width: fit-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

/* ======== MOBILE VERSION ======== */

@media (max-width: 900px) {
  .addPaperWrapper {
    padding: 1.5rem;
  }

  .addPaperCard {
    padding: 1.8rem;
    max-width: 100%;
  }

  .addPaperTitle {
    font-size: 1.5rem;
  }
}
