.authorWrapper {
  background: #f7e9ef;
  min-height: 100vh;
  min-width: 100vw;
  
}

.contentArea {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  gap: 1.5rem;
  padding: 1rem;
}
.btnContainer{
  display: flex;
  align-items: flex-start; 
  width: 30%;
}

.addNewBtn {
  background: #923e57 !important;
  color: white !important;
  height: 50px;
  border-radius: 8px !important;
  padding: 0 20px !important;
  margin: 0; 
}

.tableCard {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  width: 70%;
  max-width: 1000px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.tableLink {
  color: #b14c6c;
  font-weight: 600;
}

.modifyBtn {
  background-color: #b14c6c !important;
  color: white !important;
  padding: 4px 14px !important;
  border-radius: 6px !important;
}

@media (max-width: 900px) {
  .contentArea {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  .tableCard,
  .btnContainer {
    width: 100%;
  }

  .btnContainer {
    justify-content: center;
  }
}

