.authorWrapper {
  background: #f7e9ef;
  min-height: 100vh;
  min-width: 100vw;
}

.contentArea {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.tableCard {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.paperTable {
  width: 100%;
  border-collapse: collapse;
}

.paperTable th,
.paperTable td {
  padding: 12px 14px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.tableLink {
  color: #b14c6c;
  font-weight: 600;
}

.modifyBtn {
  background-color: #b14c6c !important;
  color: white !important;
  padding: 4px 14px !important;
  border-radius: 6px !important;
}

.addNewBtn {
  margin: 1rem auto !important;
  display: block;
  background: #923e57 !important;
  color: white !important;
  height: 50px;
  border-radius: 8px !important;
  padding: 0 20px !important;
}


/* ---------- DESKTOP MODE ---------- */
@media (min-width: 1250px) {
  .authorWrapper {
    background: #f7e9ef;
    min-height: 100vh;
    min-width: 100vw;
  }

  .contentArea {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .tableCard {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }
}
