.addReviewWrapper {
  background: #f7e9ef;
  min-height: 100vh;
  min-width: 100vw;
}

.addReviewContainer {
  margin-top: 30px;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.reviewFormCard {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  width: 450px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.reviewTitle {
  margin: 0;
  color: #8f455c;
  font-size: 1.6rem;
}

.reviewSubtitle {
  margin-top: 4px;
  margin-bottom: 20px;
  color: #444;
}

.pdfCard {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  width: 300px;
  height: max-content;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.pdfTitle {
  color: #8f455c;
  margin-bottom: 10px;
}

.pdfLink {
  color: #b14c6c;
  font-weight: 600;
}

.submitReviewBtn {
  margin-top: 20px !important;
  background: #b14c6c !important;
  color: white !important;
  border-radius: 8px !important;
}
